<div class="container mt-5">

    <div class="row d-flex justify-content-center ">
        <form method="POST">
        <div class="col-md-6">

            <div class="card">

                <div class="input-box">
                    <input type="text" class="form-control" name="Name">
                    <i class="fa fa-search"></i>
                </div>


                <div class="list border-bottom">

                    <i class="fa fa-fire"></i>
                    <div class="d-flex flex-column ml-3">
                        <span>Client communication policy</span>
                        <small>#politics - may - @max</small>
                    </div>
                </div>

        </div>

            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>

            </form>
    </div>


</div>