<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="/src/public/css/app.css">
</head>
<body>
    <div class="Header">
        <h1>Header</h1>
    </div>
    <div class="container">
        {{{body}}}
    </div>
    <div class="Footer">
        <h1>Footer</h1>
    </div>
</body>
</html>